<aside class="side-navigation">
  <section class="search-form">
    <form action="/archive" class="posthaven-archive-form">
      <input name="query" placeholder="Search..." type="text">
    </form>
  </section>

  {% if site.navigation_menu and site.navigation_menu.items != empty %}
    <nav class="menu">
      {% if site.navigation_menu and site.navigation_menu.items != empty %}
        <ul>
        {% for menu_item in site.navigation_menu.items %}
          <li id="menu_item_{{ menu_item.id }}" class="menu-item {{ menu_item.url | text_if_current}}">
            <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </nav>
  {% endif %}

  {% include 'blogroll' %}

  <!-- @todo -->
  {% if site.subscription_enabled? %}
    <section class="subscribe-footer">
      <div class="subscribe-wrapper show-button-on-keyup ignore-anon">
        {% form 'subscribe' include_prompt:false, show_instructions:true %}
      </div>
    </section>
  {% endif %}

  <section class="all-tags">
    <h3>Tags</h3>
    <ul>
      {% for t in site.tags limit:5 %}
        <li>
          <a href="{{ t.url }}">{{ t.name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% assign tagCount = 0 %}
    {% for tg in site.tags %}
    {% assign tagCount = tagCount | plus : 1 %}
    {% endfor %}
    {% if tagCount > 3 %}
    <a class="more_links" href="/tags">View all {{ tagCount }} tags</a>
    {% endif %}
  </section>

  <section class="archives">
    <h3>Archive</h3>
    <a class="more_links" href="{{ site.archive_url }}">Browse archive</a>
  </section>

  <!-- @todo -->
    {% include 'bio' %}
    {% include 'social' %}
    {% include 'contributors_section' %}
</aside>
