{% if post %}

  <header class="pt-4 md:pt-8 px-4 md:px-8">

    {% if request.template == 'post' and post.post_image %}
      <div class="relative mb-4">
        <img src="{{ post.post_image.xlarge.url }}" alt="{{ post.title }}" class="w-full h-auto">
        {% if post.post_image_attribution %}
          <p class="image-attribution absolute bottom-0 right-0 h-12 w-full flex gap-0.5 justify-end items-end m-0 p-1 text-xs text-white/75 text-right bg-gradient-to-b from-transparent to-black/50">{{ post.post_image_attribution }}</p>
        {% endif %}
      </div>
    {% endif %}

    <div class="post-title">
      <h2 class="mb-1">
        <a href="{{ post.url }}">{{ post.title }}</a>
        
        {% if post.private? %}
          <span class="private-indicator" title="This post is private. Only you and people you've sent the link to have access to this post.">
            <svg class="inline-block size-5 -mt-1 opacity-50 fill-white">
              <use xlink:href="#icon-lock"></use>
            </svg>
          </span>
        {% endif %}
      </h2>
    </div>
    <a href="{{ post.url }}" class="opacity-60">
      <span class="date">{{ post.published_at | local_date: "%B %e, %Y" }}</span>
    </a>
  </header>

  {% if post.post_image %}
    {% if request.template != 'post' %}
      <a href="{{ post.url }}"><figure style="background-image: url({{ post.post_image.medium.url }})"></figure></a>
    {% endif %}
  {% endif %}

  <div class="prose prose-invert px-4 md:px-8" id="post_body_{{ post.id }}">

    {% if post.url.current_page? %}
      {{ post.body_large_image }}
    {% else %}
      {{ post.excerpt_or_body_large_image }}
    {% endif %}
  </div>
{% endif %}
