{% if post %}

  <header
    {% if request.template == 'post' %}
      {% if post.post_image %}
        class="has-image" 
        style="background-image: url({{ post.post_image.large.url }})"
      {% endif %}
    {% endif %}
  >
    <div class="post-title">
      <a href="{{ post.url }}">
        <span class="date">{{ post.published_at | local_date: "%B %e, %Y" }}</span>
      </a>
      <h2>
        {% if post.private? %}
          <span class="private-indicator" title="This post is private. Only you and people you've sent the link to have access to this post.">
            <svg>
              <use xlink:href="#icon-lock"></use>
            </svg>
          </span>
        {% endif %}

        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>

      {% comment %} on list page, show thumbnail image if it exists. we switch to flexbox for this. {% endcomment %}
      {% if post.post_image %}
        {% if request.template != 'post' %}
          <figure style="background-image: url({{ post.post_image.thumb.url }})"></figure>
        {% endif %}
      {% endif %}
    </div>
  </header>

  <div class="post-body" id="post_body_{{ post.id }}">
    {% if post.url.current_page? %}
      {{ post.body_large_image }}
    {% else %}
      {{ post.excerpt_or_body_large_image }}
    {% endif %}
  </div>
{% endif %}
