<aside class="sidebar space-y-8">
  <section class="search-form">
    <form action="/archive" class="posthaven-archive-form">
      <input name="query" placeholder="Search..." type="text">
    </form>
  </section>




  {% include 'blogroll' %}

  {% if site.subscription_enabled? %}
    {% include 'subscribe' %}
  {% endif %}

  {% if request.template != 'post' %}


    {% if site.tags.size > 0 %}
      <section id="tag_list_menu" class="tags-simple">
        <h3>Tags</h3>

        <ul class="flex flex-wrap gap-1">
          {% for t in site.tags %}
            {% if forloop.index > 5 %}
              <li class='hide'>
            {% else %}
              <li>
            {% endif %}
              {% if tag and tag == t.name %}
                <strong>{{ t.name }} <span>{{ t.post_count }}</span></strong>
              {% else %}
                <a href="{{ t.url }}" class="inline-block border-[1.5px] border-white/10 text-white hover:border-[#F0A848] hover:text-[#F0A848] rounded-full px-2.5 py-1 text-sm">{{ t.name }} <span>{{ t.post_count }}</span></a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        {% if site.tags.size > 5 %}
          <div class="all-tags">
            <span class="cta-links show-all-tags">
              See all {{ site.tags.size }} tags
            </span>
          </div>
        {% endif %}
      </section>
    {% endif %}

    <section class="archives">
      <h3>Archive</h3>
      <a class="cta-links" href="{{ site.archive_url }}">Browse archive</a>
    </section>
  {% endif %}

    {% include 'contributors' %}
    {% include 'bio' %}
    {% include 'social' %}
</aside>
