<aside class="sidebar space-y-12">
  {% unless request.template == 'archive' %}
    <section>
      <form action="/archive" class="">
        <input name="query" placeholder="Search..." type="text" class="">
      </form>
      <p class="text-right leading-tight">
      <a class="text-xs opacity-50 hover:opacity-100 hover:text-accent" href="{{ site.archive_url }}">Browse archive</a>
      </p>
    </section>
  {% endunless %}

  {% include 'blogroll' %}

  {% if site.subscription_enabled? %}
    {% include 'subscribe' %}
  {% endif %}

  {% if request.template != 'post' %}
    {% if site.tags.size > 0 %}
      <section id="tag_list_menu" class="tags-simple">
        {% include 'heading' title: 'Tags', url: '/tags/all' %}

        <ul class="flex flex-wrap gap-x-2.5">
          {% for t in site.tags %}
            {% if forloop.index > 10 %}
              <li class='hide'>
                {% if tag and tag == t.name %}
                  <strong>{{ t.name }} <span>{{ t.post_count }}</span></strong>
                {% else %}
                  <a href="{{ t.url }}" class="text-white hover:border-accent hover:text-accent text-sm">{{ t.name }} <span class="text-xs opacity-50">{{ t.post_count }}</span></a>
                {% endif %}
              </li>
            {% else %}
              <li>
                {% if tag and tag == t.name %}
                  <strong>{{ t.name }} <span>{{ t.post_count }}</span></strong>
                {% else %}
                  <a href="{{ t.url }}" class="text-white hover:border-accent hover:text-accent text-sm">{{ t.name }} <span class="text-xs opacity-50">{{ t.post_count }}</span></a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        {% if site.tags.size > 10 %}
          <div class="all-tags pt-3 pb-1">
            <button class="show-all-tags">
              Show all {{ site.tags.size }} tags
            </button>
          </div>
        {% endif %}
      </section>
    {% endif %}
  {% endif %}

  {% include 'contributors' %}
</aside>
