<section class="social">
  <ul>

    {% for social in site.profile.social %}
      <li class="{{ social.name }}">
        <a href="{{ social.url }}" target="_blank">
          <svg>
            {% comment %}<use xlink:href="#social-{{ social.name }}"></use>{% endcomment %}
            <use xlink:href="#social-{{ social.name }}"></use>
          </svg>
        </a>
      </li>
    {% endfor %}

    <li class="rss">
      <a href="{{ site.feed_url }}" target="_blank">
        <svg>
          <use xlink:href="#social-rss"></use>
        </svg>
      </a>
    </li>
  </ul>

</section>
