<!DOCTYPE html>
<html class="no-js">
  <head>
      <script>
        // Load LiveReload immediately
        var script = document.createElement('script');
        script.src = 'http://' + location.hostname + ':35729/livereload.js?snipver=1&force=true&host=' + location.hostname;
        document.write(script.outerHTML);
      </script>
    
    <title>{{ request.page_title }}</title>

    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    {{ meta_tags }}

    <link href="{{ 'images/favicon.ico' | asset_url }}" rel="shortcut icon" type="image/x-icon">

    {{ posthaven.includes_for_head }}

    {% comment %}
    {{ "blog.css" | local_file | style_tag }}
    {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- Try local_file first -->
    {{ "stylesheets/tailwind.css" | local_file | style_tag }}

  </head>

  <body data-theme="{{ settings.color-theme | default: 'yellow' }}" id="site_{{ site.id }}" class="{{ request.template }}-template{% if settings.color-scheme %} color-scheme-{{ settings.color-scheme }}{% endif %} bg-canvas font-theme text-white p-4">
    <div class="bg-site-gradient fixed inset-4 rounded-xl"></div>

    <div class="relative grid grid-cols-12 overflow-auto h-[calc(100vh_-_2rem)]">
      <div class="col-span-12 mdlg:col-span-3 p-4 md:p-8 sticky top-0 max-h-[calc(100vh_-_2rem)] flex flex-col gap-4 justify-between">
        <header class="header">
          
          {% include "profile_pic" %}

          <h1 class="mb-2 text-3xl">
            <a href="{{ site.url }}" class="hover:text-accent">
              {% if site.name or site.profile.name %}
                {% if site.profile.name %}
                  {{ site.profile.name }}
                {% else %}
                {{ site.name | smarty_pants }}
              {% endif %}
              {% else %}
                Untitled Posthaven
              {% endif %}
            </a>
          </h1>

          {% if site.profile.bio %}
            <p class="opacity-75 leading-tight">{{ site.profile.bio }}</p>
          {% else %}
            <p class="opacity-75 leading-tight">{{ site.description | smarty_pants }}</p>
            
          {% endif %}

          {% include 'social' %}

        </header>

        <div class="hidden mdlg:fixed mdlg:flex bottom-12 left-12">
          {% include "posthaven-button" %}
        </div>
      </div>
      <div class="col-span-12 mdlg:col-span-6 border-x border-white/10 ">
        <nav class="sticky top-0 h-fit p-4 md:p-8 border-y rounded-t-xl md:rounded-t-none md:border-t-0 border-white/10 bg-[hsla(27,78%,3%,.5)] backdrop-blur-md overflow-x-auto z-10">
        {% include "navigation" %}
        </nav>

        {% if subhead_content %}
          <section class="subhead pt-4 px-4 md:pt-8 md:px-8">
            {{ subhead_content }}
          </section>
        {% endif %}

        {{ content_for_layout }}

      </div>
      <div class="col-span-12 mdlg:col-span-3 p-4 pt-8 md:p-8 sticky mt-8 md:mt-0 md:top-0 h-fit border-t border-white/10 md:border-t-0">
        {% include "sidebar" %}
      </div>
    </div>

    <div id="flash">
      {% for alert in posthaven.alerts %}
        <div class="alert alert-{{ alert.type }}">
          {{ alert.message }}
        </div>
      {% endfor %}
    </div>

    {{ posthaven.includes_for_body }}
    
    <div id="svg-icons" style="display:none;"></div>

    <script type="text/javascript">

      Posthaven.$(document).ready(function () {
        Posthaven.$.get( "{{ 'images/icons.svg' | asset_url }}", function( icons ) {
          Posthaven.$( "#svg-icons" ).html( icons.getElementsByTagName("svg")[0] );
        });
      });
    </script>
  </body>
</html>
