<!DOCTYPE html>
<html class="no-js">
  <head>
      <script>
        // Load LiveReload immediately
        var script = document.createElement('script');
        script.src = 'http://' + location.hostname + ':35729/livereload.js?snipver=1&force=true&host=' + location.hostname;
        document.write(script.outerHTML);
      </script>
    
    <title>{{ request.page_title }}</title>

    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    {{ meta_tags }}

    <link href="{{ 'images/favicon.ico' | asset_url }}" rel="shortcut icon" type="image/x-icon">

    {{ posthaven.includes_for_head }}

    {% comment %}
    {{ "blog.css" | local_file | style_tag }}
    {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- Try local_file first -->
    {{ "stylesheets/tailwind.css" | local_file | style_tag }}

  </head>

  <body id="site_{{ site.id }}" class="{{ request.template }}-template{% if settings.color-scheme %} color-scheme-{{ settings.color-scheme }}{% endif %} bg-canvas font-theme text-white p-4">
    <div class="fixed inset-4 rounded-xl bg-[#111] shadow-[0px_4px_4px_rgba(0,0,0,0.25),0px_100px_80px_rgba(0,0,0,0.07),0px_41.7776px_33.4221px_rgba(0,0,0,0.0503198),0px_22.3363px_17.869px_rgba(0,0,0,0.0417275),0px_12.5216px_10.0172px_rgba(0,0,0,0.035),0px_6.6501px_5.32008px_rgba(0,0,0,0.0282725),inset_0px_1px_0px_2px_rgba(255,255,255,0.25)]"></div>
    <div class="fixed inset-4 rounded-xl bg-gradient-to-br from-[#000] via-transparent to-[#FFA52E] opacity-50"></div>
    {% comment %} <div class="fixed inset-4 rounded-xl bg-gradient-to-tr from-[#593200] via-[#4B3212] to-[#593200] opacity-25"></div> {% endcomment %}
    <div class="fixed inset-4 rounded-xl bg-gradient-to-tr from-[#000] via-[rgba(0,0,0,0)] to-[#000] opacity-25"></div>

    <div class="relative grid grid-cols-12 overflow-auto h-[calc(100vh_-_2rem)]">
      <div class="col-span-12 md:col-span-3 p-4 md:p-8 sticky top-0 h-fit">
        <header class="header">
          
          {% include "profile_pic" %}

          <h1 class="mb-2 text-3xl">
            <a href="{{ site.url }}" class="hover:text-[#F0A848]">
              {% if site.name or site.profile.name %}
                {% if site.profile.name %}
                  {{ site.profile.name }}
                {% else %}
                {{ site.name | smarty_pants }}
              {% endif %}
              {% else %}
                Untitled Posthaven
              {% endif %}
            </a>
          </h1>

          {% if site.profile.bio %}
            <p class="opacity-75 leading-tight">{{ site.profile.bio }}</p>
          {% else %}
            <p class="opacity-75 leading-tight">{{ site.description | smarty_pants }}</p>
            
          {% endif %}

          {% include 'social' %}

          {{ posthaven.user_menu_v2 }}

        </header>

        {% if subhead_content %}
          <section class="subhead">
            {{ subhead_content }}
          </section>
        {% endif %}
      </div>
      <div class="col-span-12 md:col-span-6 border-x border-white/10 ">
        <nav class="sticky top-0 h-fit p-4 md:p-8 border-y rounded-t-xl md:rounded-t-none md:border-t-0 border-white/10 bg-black/50 backdrop-blur-md overflow-x-auto z-10">
        {% include "navigation" %}
        </nav>

        {{ content_for_layout }}

      </div>
      <div class="col-span-12 md:col-span-3 p-4 md:p-8 sticky top-0 h-fit">
        {% include "sidebar" %}
      </div>
    </div>

      {% include "footer" %}

      <div id="flash">
        {% for alert in posthaven.alerts %}
          <div class="alert alert-{{ alert.type }}">
            {{ alert.message }}
          </div>
        {% endfor %}
      </div>

    {{ posthaven.includes_for_body }}
    
    <div id="svg-icons" style="display:none;"></div>

    <script type="text/javascript">

      Posthaven.$(document).ready(function () {
        // when clicking nav menu (to open)
        Posthaven.$(".menu-trigger").click(function(){
          Posthaven.$("body").toggleClass("menu-active");
          Posthaven.$(".ph-canvas").toggleClass("active");
          Posthaven.$(".ph-menu").addClass("open");
        });

        // when clicking posthaven icon
        Posthaven.$(".ph-trigger").click(function(){
          Posthaven.$(".ph-menu").toggle(500,"easeOutQuint");
          Posthaven.$(".ph-trigger").toggleClass("active");
          Posthaven.$(".ph-canvas").toggleClass("active");
        });

        // when clicking the background canvas, which should close both
        // menu and ph button
        Posthaven.$(".ph-canvas").click(function(){
          if(Posthaven.$(".ph-trigger").hasClass('active')) {
            Posthaven.$(".ph-trigger").removeClass("active");
            Posthaven.$(".ph-menu").toggle(500,"easeOutQuint");
            Posthaven.$(".ph-menu").removeClass("open");
          }
          Posthaven.$(".ph-canvas").removeClass("active");
          Posthaven.$("body").removeClass("menu-active");
        });
        Posthaven.$.get( "{{ 'images/icons.svg' | asset_url }}", function( icons ) {
          Posthaven.$( "#svg-icons" ).html( icons.getElementsByTagName("svg")[0] );
        });
      });
    </script>
    <div class="ph-canvas"></div>
  </body>
</html>
