<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{{ request.page_title }}</title>

    <meta content="width=device-width,initial-scale=1" name="viewport">

    {{ meta_tags }}

    <link href="{{ 'images/favicon.ico' | asset_url }}" rel="shortcut icon" type="image/x-icon">

    {{ posthaven.includes_for_head }}

    {% comment %}
    {{ "blog.css" | local_file | style_tag }}
    {% endcomment %}
    {{ "blog.css" | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="https://use.typekit.net/iim1sys.css">

    <link rel="stylesheet" href="/stylesheets/tailwind.css">

    <style>

      body.color-scheme-light {
        --background: 255, 255, 255;
        --primary: 0, 0 ,0;
        --link: {{ settings.link-color | hex_to_rgb }};
      }

      body.color-scheme-dark {
        --primary: 255, 255, 255;
        --background: 27, 38, 44;
        --link: {{ settings.link-color | hex_to_rgb }};
      }

      @media (prefers-color-scheme: dark) {
        body {
          --primary: 255, 255, 255;
          --background: 27, 38, 44;
        --link: {{ settings.link-color | hex_to_rgb }};
        }
      }

      @media (prefers-color-scheme: light) {
        body {
          --background: 255, 255, 255;
          --primary: 0, 0 ,0;
          --link: {{ settings.link-color | hex_to_rgb }};
        }
      }
    </style>

  </head>

  <body id="site_{{ site.id }}" class="{{ request.template }}-template{% if settings.color-scheme %} color-scheme-{{ settings.color-scheme }}{% endif %}">
    <div id="site-container">

        <header class="header">
          <div class="text-xl text-[#c00]">Hello world!</div>
          <h1>
            <a href="{{ site.url }}">{% if site.name or site.profile.name %}{% if site.name %}{{ site.name | smarty_pants }}{% else %}{{ site.profile.name }}{% endif %}{% else %}Untitled Posthaven{% endif %}</a>!!!!
          </h1>

          {% if site.description %}
            <h5>{{ site.description | smarty_pants }}</h5>
          {% endif %}

          <section class="menu">
            <div class="menu-trigger button">☰ <span>Menu</span></div>
          </section>
          {{ posthaven.user_menu_v2 }}

        </header>

        {% if subhead_content %}
          <section class="subhead">
            {{ subhead_content }}
          </section>
        {% endif %}

        <div class="main-content">
          {{ content_for_layout }}
        </div>
        {% include "footer" %}

      <div id="flash">
        {% for alert in posthaven.alerts %}
          <div class="alert alert-{{ alert.type }}">
            {{ alert.message }}
          </div>
        {% endfor %}
      </div>
    </div>

    {{ posthaven.includes_for_body }}
    {% include "sidebar" %}
    <div id="svg-icons" style="display:none;"></div>

    <script type="text/javascript">

      Posthaven.$(document).ready(function () {
        // when clicking nav menu (to open)
        Posthaven.$(".menu-trigger").click(function(){
          Posthaven.$("body").toggleClass("menu-active");
          Posthaven.$(".ph-canvas").toggleClass("active");
          Posthaven.$(".ph-menu").addClass("open");
        });

        // when clicking posthaven icon
        Posthaven.$(".ph-trigger").click(function(){
          Posthaven.$(".ph-menu").toggle(500,"easeOutQuint");
          Posthaven.$(".ph-trigger").toggleClass("active");
          Posthaven.$(".ph-canvas").toggleClass("active");
        });

        // when clicking the background canvas, which should close both
        // menu and ph button
        Posthaven.$(".ph-canvas").click(function(){
          if(Posthaven.$(".ph-trigger").hasClass('active')) {
            Posthaven.$(".ph-trigger").removeClass("active");
            Posthaven.$(".ph-menu").toggle(500,"easeOutQuint");
            Posthaven.$(".ph-menu").removeClass("open");
          }
          Posthaven.$(".ph-canvas").removeClass("active");
          Posthaven.$("body").removeClass("menu-active");
        });
        Posthaven.$.get( "{{ 'images/icons.svg' | asset_url }}", function( icons ) {
          Posthaven.$( "#svg-icons" ).html( icons.getElementsByTagName("svg")[0] );
        });
      });
    </script>
    <div class="ph-canvas"></div>
  </body>
</html>
