{% capture subhead_content %}
  <h2 class="archive-title mb-4">Archive</h2>
  <div class="archive-all-dates empty:hidden">{{ archive.all_dates_link }}</div>
{% endcapture %}

<div class="archive-container toggle-tabs px-4 md:px-8">
  <div id="main" class="archive-results">
    <section class="search-archive">
      {% form 'archive' %}
    </section>

    <div class="archive-view">
      <a id="all-link" href="#all">All posts</a>
      <a id="date-link" href="#date">Browse by date</a>
    </div>

    <section id="archive-results-all" class="archive-list">
      <ul>
        {% archive_results date_format:'%b %e, %Y' %}
        <li class="mb-4">
          <h3 class="post-title text-xl mb-1"><a href="{{ result.url }}">{{ result.title }}</a></h3>
          <a href="{{ result.url }}" class="opacity-60 block mb-2 text-[15px]"><time>{{ result.date }}</time></a>
          <div class="search-highlight prose">
            {{ result.snippet }}
          </div>
        </li>
        {% endarchive_results %}
      </ul>

      <div class="archive-pagination">
        {{ archive.pagination }}
      </div>
    </section>

    <section id="archive-results-by-date" class="archive-by-date">
      <ul class="space-y-4">
        {% archive_months %}
          <li>
              <h3 class="post-title text-xl mb-1"><a href="{{ month.url }}">{{ month.date }}</a></h3>
              <span class="count text-sm opacity-60 text-[15px]">{{ month.count }} posts</span>
          </li>
        {% endarchive_months %}

      </ul>
    </section>
  </div>
</div>
